<header class="header">
  <div class="header__wrapper">
    <div class="header__container container__top">
      <nav class="nav">
        <div class="header__logo">
          <img src="../svg/logo.svg" alt="logo" />
        </div>
        <div class="header__right">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#" class="nav-link">ведущие</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">контакты</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">партнёры</a>
            </li>
          </ul>
          <a href="#" class="header__link">КУПИТЬ БИЛЕТЫ</a>
        </div>
      </nav>
    </div>
  </div>
</header>
