.footer {
  padding: 45px 0 18px;
  background: #0d020d;
}
.footer__container {
  width: 100%;
  max-width: 1192px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  gap: 113px;
}
.footer__logo {
  width: 188px;
  height: 114px;
  margin-bottom: 53px;
}
.footer__logo a {
  width: 100%;
  height: 100%;
}
.footer__logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__rights {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  opacity: 0.4;
}
.footer__rights p:first-child {
  text-transform: uppercase;
  margin-bottom: 1px;
}
.footer__list {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__list li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78571;
  color: #fff;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 1px 0 0;
}
.footer__right-logo {
  width: 200px;
  height: 95px;
  margin-bottom: 38px;
}
.footer__right-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__right-logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__right-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 1.10169;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.15;
  margin-right: -3px;
}
