.header__container {
  padding-top: 10px;
  padding-bottom: 14px;
  border-radius: 20px;
  background-color: rgb(255, 0, 153, 0.25);
}
header {
  width: 100%;
  position: fixed;
  top: 28px;
  max-width: 1234px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(50px);
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 1270px) {
  header {
    width: calc(100vw - 30px);
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    top: 7px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 171px;
  height: 42px;
  position: relative;
  z-index: 6;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__right {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
}
.nav-item a {
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #fff;
}
.nav-item a:hover {
  color: var(--pink);
}
.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.55;
  color: var(--pink);
  display: block;
  padding: 9px 37px;
  border-radius: 13px;
  padding: 8px 37px 9px 37px;
  background-color: white;
  text-transform: uppercase;
}

.header__link:hover {
  background-color: var(--pink);
  color: white;
}

/* hamb */
.mobile__menu {
  position: fixed;
  z-index: 8;
  top: 48px;
  left: auto;
  right: 38px;
  display: none;
}
.mobile__menu.active {
  position: fixed;
  top: 20px;
}
.mobile__menu a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mobile__menu a span {
  background: white;
  border-radius: 2px;
  height: 2px;
}
.mobile__menu a span:nth-child(1) {
  width: 28px;
  display: block;
  transition: ease 300ms;
}

.mobile__menu a.active span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  transition: 300ms;
}

.mobile__menu a span:nth-child(2) {
  width: 16px;
  display: block;
  margin: 8px 0;
}

.mobile__menu a.active span:nth-child(2) {
  opacity: 0;
}

.mobile__menu a span:nth-child(3) {
  width: 28px;
  display: block;
  transition: 300ms;
}

.mobile__menu a.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  transition: 300ms;
}

.top__hamburger {
  position: fixed;
  right: -100%;
  background: var(--pink);
  display: block;
  width: 82vw;
  height: 100vh;
  z-index: 7;
  padding: 42px 25px 25px;
  transition: all 0.2s linear;
  opacity: 0;
}
.top__hamburger.active {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;

  opacity: 1;
}
.top__hamburger ul {
  margin: 0;
}
.top__hamburger ul li {
  padding: 25px 0;
  /* text-align: center; */
}
.top__hamburger ul li a {
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.top__hamburger-cover {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.top__hamburger-cover .header__link {
  margin: auto 0 0;
}
@media screen and (max-width: 991px) {
  .mobile__menu {
    display: block;
  }
  .header__right {
    display: none;
  }
}
