.header__container {
  padding-top: 10px;
  padding-bottom: 14px;
  border-radius: 20px;
  background-color: rgb(255, 0, 153, 0.25);
}
header {
}
.nav {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 171px;
  height: 42px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__right {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
}
.nav-item a {
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #fff;
}
.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.55;
  color: var(--pink);
  display: block;
  padding: 9px 37px;
  border-radius: 13px;
  padding: 8px 37px 9px 37px;
  background-color: white;
}
