.merci-block {
  background-image: url(../img/merci-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 95px 0 284px;
  position: relative;
  overflow: hidden;
}
.merci-block:after {
  display: block;
  content: '';
  width: 986px;
  height: 539px;
  background-image: url(../svg/merci-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -21%;
  left: 9%;
  z-index: 0;
}
.merci-container {
  margin: 0 auto;
  padding: 0 11px 0 27px;
  width: 100%;
  max-width: 884px;
}
.merci__flex {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
  padding: 0 7px 0 0;
}
.merci-date__top {
  display: flex;
  align-items: flex-end;
}
.merci-date {
  margin-top: 4px;
  position: relative;
}
.merci-date::after {
  display: block;
  content: '';
  position: absolute;
  width: 68px;
  height: 62px;
  background-image: url(../svg/merci-date-after.svg);
  background-repeat: no-repeat;
  right: -49px;
  top: 0;
}

.merci__number {
}
.merci__logo {
  width: 142px;
  height: 67px;
}
.merci__logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.merci-info {
  position: relative;
  z-index: 1;
}
.merci__title {
  font-weight: 900;
  font-size: 63px;
  line-height: 1.06;
  text-transform: uppercase;
  color: #fff;
}
.merci__text {
  margin: 19px 0 63px;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.merci__btn {
  display: block;
  border-radius: 14px;
  padding: 15px 50px;
  width: 267px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: var(--pink);
  transition: all 250ms linear;
  background-color: white;
}
.merci__btn:hover {
  background-color: var(--pink);
  color: #fff;
}
.merci__image {
  width: 985px;
  height: 492px;
  margin-top: -67px;
  /* margin: -50px auto; */
  margin-left: -105px;
  z-index: -1;
  position: relative;
}
.merci__image svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-merci {
  /* margin-top: -140px; */
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1440px) {
  .merci-block::after {
  }
}
@media screen and (min-width: 1281px) {
  .merci-block::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1100px) {
  .merci-block::after {
    left: -2%;
  }
}
@media screen and (max-width: 991px) {
  .merci-date::after {
    display: none;
  }
  .merci-block:after {
    display: none;
  }
  .merci-block {
    background-image: url(../svg/merci-bg-mob.svg);
    background-position-y: 19%;
    padding-bottom: 150px;
  }
  .merci__title {
    margin-top: calc(30vh);
    font-size: 48px;
    max-width: 85%;
  }
  .merci__logo {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .merci-block {
    padding-top: 59px;
    background-position-y: 15%;
    padding-bottom: 100px;
  }
  .merci-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  .merci-date__top {
    width: 69px;
    height: 45px;
  }
  .merci__logo {
    display: none;
  }
  .merci__title {
    margin-top: calc(28vh);
    font-size: 42px;
    max-width: 76%;
  }

  .merci__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.24;
    margin: 17px 0 31px;
  }
  .merci__btn {
    width: 100%;
  }

  .merci__image {
    margin-top: 0;
  }
  .footer-merci {
    margin-top: 0;
  }
  .merci-block {
    position: relative;
  }
  .merci-block:before {
    display: block;
    content: '';
    position: absolute;
    width: 2038px;
    height: 2187px;
    z-index: -1;
    left: -1146px;
    top: -416px;
  }
  .merci__image {
    width: 305px;
    height: 234px;
    margin-left: -7px;
    margin-top: -2px;
  }
  .merci__btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .merci__title {
    max-width: 94%;
  }
}
@media screen and (max-width: 550px) {
  .merci__title {
    font-size: 26px;
    line-height: 1.06;
    margin-top: calc(11.5vh);
    max-width: 271px;
  }
  .merci__text {
    font-weight: 500;
    font-size: 14px;
    max-width: 293px;
  }
  .merci__flex {
    margin-top: 18px;
  }
  .footer-merci {
    padding-top: 54px !important;
  }
}
@media screen and (max-width: 550px) {
  .merci__title {
    font-size: 26px;
    line-height: 1.06;
    margin-top: calc(11.5vh);
    max-width: 271px;
  }
}
