/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./general.css');
@import url('./header.css');
@import url('./merci.css');
.container__top {
  width: 100%;
  max-width: 1234px;
  margin: 0 auto;
  padding-left: 38px;
  padding-right: 17px;
}
.body__wrapper {
  position: relative;
  overflow: hidden;
}
.body__wrapper:before {
  display: block;
  content: '';
  position: absolute;
  background-image: url(../svg/BG-main.svg);
  width: 4419px;
  height: 10177px;
  top: -419px;
  left: -1529px;
}
@media screen and (min-width: 1281px) {
  .body__wrapper:before {
    top: -419px;
    left: 52%;
    transform: translateX(-50%);
  }
}

.body__wrapper {
}
.hero {
  padding: 28px 0 0;
  position: relative;
}
.bg-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}
.bg-popup.active {
  display: block;
}
.top__hamburger-logo {
  max-width: 120px;
  height: 30px;
  margin-bottom: 20px;
}
.top__hamburger-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.top__hamburger-logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero__right {
  position: absolute;
  top: -1176px;
  left: calc(100vw / 2 + 62px);
  transform: translateX(-38%);
  z-index: -1;
  width: 2560px;
  height: 2697px;
}

.hero__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1180px) {
  .hero__right {
    top: -795px;
    z-index: -1;
    width: 1600px;
    height: 2000px;
  }
}

.hero__flex {
  padding: 122px 0 264px;
  position: relative;
}
.hero__title {
  width: 100%;
  max-width: 502px;
}
.title__first {
  font-weight: 900;
  font-size: 66px;
  line-height: 1.06;
  text-transform: uppercase;
  color: #fff;
}
.subtitle {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.hero__text {
  margin-top: 26px;
  font-size: 22px;
  color: #fff;
}
.hero__btn {
  display: block;
  margin-top: 59px;
  border-radius: 14px;
  padding: 15px 70px;
  background-color: var(--aqua);
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: #0d020d;
  width: 257px;
}
.hero__btn:hover,
.hero__btn:active {
  box-shadow: 0 0 6px 0 #5cebff, 0 0 42px 0 #5cebff, 0 0 254px 0 #5cebff;
}

.list {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  padding-bottom: 139px;
}
.item {
  width: 299px;
  height: 336px;
  padding: 204px 21px 21px;
  border-radius: 16px;
  position: relative;
  background-color: #12002a;
  overflow: hidden;
  transition: all 0.1s linear;
}
.item::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(../svg/card-before.svg);
  width: 902px;
  height: 1050px;
  top: -273px;
  left: -340px;
}
.item::after {
  display: block;
  content: '';
  width: 268px;
  height: 252px;
  background-image: url(../svg/back-person.svg);
  background-size: contain;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.all-sections {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.all-sections::after {
  display: block;
  content: '';
  position: absolute;
  top: -36%;
  left: -128%;
  width: 5096px;
  height: 10872px;
  z-index: -6;
}
.nomination:last-child .list {
  padding-bottom: 0;
}
.nomination__title {
  text-align: center;
  margin-top: 8px;
  max-width: 100%;
}
/* song */
.nomination.song .item {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.nomination.song .item__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nomination.song .item:nth-child(2) .item__name {
  white-space: nowrap;
}
.nomination.song .item:nth-child(4) .item__name {
  max-width: 171px;
}
.nomination.song .item__name {
  margin-bottom: 9px;
}
.nomination.song .item__subtitle {
  margin-bottom: 14px;
}

/* clip */
.nomination.clip .item {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.nomination.clip .item__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nomination.clip .item:nth-child(2) .item__name {
  white-space: nowrap;
}
.nomination.clip .item__name {
  margin-bottom: 9px;
}
.nomination.clip .item__subtitle {
  margin-bottom: 14px;
}
/* collab */
.nomination.collab .item {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.nomination.collab .item__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nomination.collab .item__name {
  margin-bottom: 9px;
}
.nomination.collab .item__subtitle {
  margin-bottom: 14px;
  white-space: nowrap;
}
.nomination.collab .item__image {
  width: 252px;
  height: 225px;
  top: 0px;
  left: 51%;
}
.nomination.collab .item::after {
  background-image: url(../svg/back-collab.svg);
  width: 270px;
  height: 252px;
}
.item__image {
  width: 165px;
  height: 297px;
  position: absolute;
  top: 15px;
  left: 54%;
  transform: translateX(-50%);
  z-index: 1;
}
.item__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
  position: relative;
  z-index: 2;
}
.item__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.24;
  text-align: center;
  color: #fff;
}
.item .item__btn {
  border-radius: 14px;
  position: relative;
  z-index: 4;
}
.item .item__btn :hover {
  box-shadow: 0 0 6px 0 #5cebff, 0 0 42px 0 #5cebff, 0 0 254px 0 #5cebff;
  background: #5cebff;
  color: var(--bacgr);
}

.item__btn input {
  display: none;
}
.item input:checked ~ .radio__sstyle {
  background-color: var(--aqua);
  color: var(--bacgr);
}
.radio__sstyle {
  cursor: pointer;
  border: 1px solid var(--aqua);
  border-radius: 14px;
  padding: 14px 24px;
  width: 257px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.item.active {
  box-shadow: 0 0 6px 0 #5cebff, 0 0 12px 0 #5cebff, 0 0 42px 0 #5cebff,
    0 0 254px 0 #5cebff;
  /* background: #12002a, rgba(92, 235, 255, 0.55), rgba(64, 0, 169, 0.4), #4000a9; */

  background-image: url(../svg/card-active.png);
  background-size: cover;
}

.vote {
  padding: 148px 0 104px;
  position: relative;
}
.vote::after {
  position: absolute;
  display: block;
  content: '';
  right: calc(100% / 10 - 19%);
  left: auto;
  top: 119px;
  width: 433px;
  height: 493px;
  background-image: url(../svg/vote-right.svg);
  background-size: contain;
  z-index: -1;
}
.vote::before {
  position: absolute;
  display: block;
  content: '';
  left: calc(100% / 10 - 20%);
  top: 166px;
  width: 405px;
  height: 441px;
  background-image: url(../svg/vote__left.svg);
  background-size: contain;
  z-index: -1;
}
.vote__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.06;
  color: #fff;
  margin-top: 16px;
  text-align: center;
}
.vote__btn {
  font-family: 'Montserrat', sans-serif;

  display: block;
  margin: 51px auto 0;
  border-radius: 14px;
  padding: 15px 50px;
  width: 303px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: var(--bacgr);
  background-color: var(--aqua);
}
.vote__btn:hover {
  box-shadow: 0 0 6px 0 #5cebff, 0 0 42px 0 #5cebff, 0 0 254px 0 #5cebff;
  background: #5cebff;
}

.lubimka {
  position: relative;
}
.lubimka:after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;
  background-color: #ffc700;
  width: 31px;
  height: 31px;
  left: auto;
  right: calc(100% / 2 - 42%);
  bottom: 18%;
}
.lubimka:before {
  display: block;
  position: absolute;
  content: '';
  width: 65px;
  height: 65px;
  background-image: url(../svg/star-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(100% / 2 - 45%);
  bottom: -7%;
}
.artist {
  position: relative;
}

.artist:before {
  display: block;
  position: absolute;
  content: '';
  width: 143px;
  height: 144px;
  background-image: url(../svg/star-pink.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: auto;
  right: calc(100% / 2 - 62%);
  top: 15%;
}
.clip {
  position: relative;
}
.clip::before {
  display: block;
  position: absolute;
  content: '';
  width: 304px;
  height: 285px;
  background-image: url(../svg/heart-green.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(100% / 2 - 60%);
  bottom: 36px;
}
.collab {
  position: relative;
}
.collab::before {
  display: block;
  position: absolute;
  content: '';
  width: 74px;
  height: 75px;
  background-image: url(../svg/star-yellow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(100% / 2 - 47%);
  bottom: 100px;
}
.footer {
  padding: 45px 0 18px;
  background: #0d020d;
}
.footer__container {
  width: 100%;
  max-width: 1192px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  gap: 113px;
}
.footer__logo {
  width: 188px;
  height: 114px;
  margin-bottom: 53px;
}
.footer__logo a {
  width: 100%;
  height: 100%;
}
.footer__logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__rights {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  opacity: 0.4;
}
.footer__rights p:first-child {
  text-transform: uppercase;
  margin-bottom: 1px;
}
.footer__list {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__list li a:hover {
  text-decoration: underline;
  color: #f09;
}
.footer__list li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.78571;
  color: #fff;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 1px 0 0;
}
.footer__right-logo {
  width: 200px;
  height: 95px;
  margin-bottom: 38px;
}
.footer__right-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__right-logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__right-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 1.10169;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.15;
  margin-right: -3px;
}
.send {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bacgr);
  z-index: 10;
  display: none;
}
.send.active {
  display: block;
}

.send__wrapper {
  height: 100vh;
  position: relative;
}
.send__wrapper {
  position: relative;
}
.send__wrapper ::after {
  display: block;
  content: '';
  position: absolute;
  top: -80%;
  left: -49%;
  background-image: url(../svg/send-web-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 2711px;
  height: 3237px;
  z-index: -1;
}
.send__contrainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.send__hearts {
  position: relative;
  width: 500px;
  height: 400px;
}
.send__heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.send__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.06;
  color: #fff;
  text-align: center;
  margin-top: -60px;
}
.pulse-1 {
  animation: heart1 0.8s infinite;
  z-index: 5;
}
@keyframes heart1 {
  0% {
    width: 159px;
    height: 138px;
  }
  50% {
    width: 169px;
    height: 148px;
  }
  100% {
    width: 159px;
    height: 138px;
  }
}
.pulse-2 {
  animation: heart2 1s infinite;
  z-index: 4;
}
@keyframes heart2 {
  0% {
    width: 404px;
    height: 363px;
  }
  50% {
    width: 424px;
    height: 379px;
  }
  100% {
    width: 404px;
    height: 363px;
  }
}

.p1,
.p2,
.p3 {
  opacity: 0;
  display: inline-block;
  font-size: 24px;
  animation: fadeIn 2s forwards;
}

.p2 {
  animation-delay: 0.5s;
}

.p3 {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1281px) {
}
@media screen and (max-width: 1279px) {
  .vote::before {
    width: 350px;
    height: 380px;
    left: calc(100% / 10 - 127px);
    top: 114px;
  }
  .vote::after {
    right: calc(100% / 10 - 148px);
    left: auto;
    top: 105px;
    width: 380px;
    height: 410px;
  }
}
@media screen and (max-width: 1100px) {
  .title__first {
    font-size: 56px;
  }
  .hero__right {
    top: -829px;
  }
  .vote::before {
    width: 350px;
    height: 380px;
    left: 0;
    top: 114px;
  }
  .vote::after {
    right: 0;
    left: auto;
    top: 105px;
    width: 380px;
    height: 410px;
  }
}
@media screen and (max-width: 991px) {
  .hero__btn {
    position: relative;
  }
  .hero__btn:hover,
  .hero__btn:active {
    box-shadow: none;
  }
  .hero__btn::after {
    display: block;
    opacity: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(13, 2, 13, 0.2);
    transition: all 0.3s linear;
  }
  .hero__btn:hover::after,
  .hero__btn:active::after {
    opacity: 1;
  }

  .vote__btn {
    position: relative;
  }
  .vote__btn:hover,
  .vote__btn:active {
    box-shadow: none;
  }
  .vote__btn::after {
    display: block;
    opacity: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(13, 2, 13, 0.2);
    transition: all 0.3s linear;
  }
  .vote__btn:hover::after,
  .vote__btn:active::after {
    opacity: 1;
  }
  .item {
    transition: all 0.05s linear;
  }
  .item .item__btn :hover {
    box-shadow: none;
    background: #5cebff;
    background-color: rgb(92, 235, 255);
  }
  .hero__right {
    width: 1600px;
    height: 1600px;
    top: -506px;
    left: calc(100vw / 2 + -164px);
  }
  .hero__flex {
    padding: 300px 0 75px;
    position: relative;
  }
  .title__first {
    font-size: 52px;
  }
  .hero__text {
    font-size: 18px;
  }
  .hero__btn {
    width: 100%;
    margin-top: 42px;
  }
  .list {
    padding-bottom: 90px;
  }
  .nomination__title {
    max-width: 500px;
    margin: 0 auto;
  }
  .vote__btn {
    margin-top: 44px;
    width: 100%;
  }
  .header__link {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 5px 0 1px;
  }
  .artist:before {
    display: none;
  }
  .lubimka:before {
    display: none;
  }
  .lubimka:after {
    display: none;
  }
  .clip::before {
    display: none;
  }
  .collab::before {
    display: none;
  }
  .title__first {
    font-size: 31px;
    line-height: 1.06;
    max-width: 299px;
  }

  .hero {
    padding: 7px 0 0;
    position: relative;
  }

  .hero__right {
    width: 863px;
    height: 863px;
    top: -252px;
    left: calc(100vw / 2 + -145px);
    z-index: 0;
  }

  .hero__flex {
    padding: 235px 0 0;
  }
  .all-sections {
    padding-top: 60px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 1.24;
    margin-top: 14px;
    max-width: 85%;
  }
  .hero__btn {
    margin-top: 37px;
    font-size: 16px;
  }
  .hero__title {
    z-index: 3;
  }
  .subtitle {
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
    position: relative;
    z-index: 1;
  }
  .nomination__title {
    position: relative;
    z-index: 1;
  }
  .mobile__menu {
    top: 22px;
    right: 11px;
  }
  .mobile__menu.active {
    top: 51px;
    right: 34px;
  }
  .container__top {
    padding: 11px 11px 13px 10px;
    position: relative;
  }
  .header__container {
    backdrop-filter: blur(53px);
    background: rgba(255, 0, 214, 0.1);
  }
  .header__logo {
    width: 117px;
    height: 28px;
  }
  .list {
    margin-top: 25px;
    gap: 20px;
    padding-bottom: 50px;
  }
  .item {
  }
  .item__subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.24;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
  .nomination__title {
    text-align: center;
  }
  .vote {
    padding: 76px 0 71px;
  }
  .vote__text {
    font-size: 16px;
    line-height: 1.26;
    margin: 12px auto 0;
    max-width: 85%;
  }
  .vote__btn {
    font-size: 16px;
    width: calc(100% - 14px);
    margin: 29px 2px 0 14px;
  }
  .vote::before {
    width: 110px;
    height: 120px;
    top: 72px;
  }
  .vote::after {
    width: 117px;
    height: 133px;
    right: -4px;
    top: 70px;
  }
  .vote .nomination__title {
    font-size: 32px;
  }
  .footer {
    position: relative;
    padding-bottom: 100px;
  }
  .footer__flex {
    flex-direction: column;
    align-items: center;
  }
  .footer__left {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .footer__logo {
    margin: 0 auto 342px;
  }
  .vote .nomination__title {
    width: 100%;
    max-width: 249px;
  }
  .footer__right {
    align-items: center;
    flex-direction: column-reverse;
    position: absolute;
    top: 163px;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer__list {
    margin-top: -161px;
  }
  .footer__list li a {
    font-size: 12px;
    line-height: 2.08333;
  }
  .footer__list li {
    text-align: center;
  }
  .footer__right-logo {
    width: 183px;
    height: 87px;
    margin-bottom: 0;
  }
  .footer__right-text {
    margin-bottom: 14px;
  }
  .footer__rights {
    text-align: center;
  }
}
@media screen and (max-width: 740px) {
  .footer__right {
  }
}
